{% extends 'base.html' %}

{% block title %}
    <title>sign in</title>
{% endblock %}

{% block css_js_static %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'User/css/style.css' %}">
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="container  text-center" id="login-container">
		<form class="form-horizontal row col-lg-offset-4 col-lg-4" role="form" action="." method="POST">
            {% csrf_token %}
			<h3 class="form-title text-center"> Sign In </h3>
		  	<div class="form-group has-feedback">
			    <!-- <label for="username" class="col-lg-3 control-label">用户名</label> -->
			    <div class="col-lg-offset-1 col-lg-10">
			    	<span class="glyphicon glyphicon-user form-control-feedback"></span>
			      	<input type="text" class="form-control" name="user_name" placeholder="username" autofocus>
			    </div>
			</div>
			<div class="form-group has-feedback">
			    <!-- <label for="password" class="col-sm-3 control-label">密码</label> -->
			    <div class="col-lg-offset-1 col-lg-10">
			    	<span class="glyphicon glyphicon-lock form-control-feedback"></span>
			      	<input type="password" class="form-control" name="password" placeholder="password">
			    </div>
			</div>
			<div class="form-group">
		    	<div class="text-center">
		      		<button type="submit" class="btn btn-default">Sign In</button>
		    	</div>
		  	</div>
		</form>
	</div>
{% endblock %}
